<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
<title>List</title>

</head>
<body style="background-color:#F5F5F5">
	<!-- Insert content into the layouts/layout.html -->
	<th:block layout:fragment="content">
		<h2><font color="red"><b>List of Users</b></font></h2><br />
		<div class="table-responsive">
			<table class="table" border="1">
				<thead>
					<tr>
						<th align="center"><font color="blue"><b>Id</b></font></th>
						<th align="center"><font color="blue"><b>Name</b></font></th>
						<th align="center"><font color="blue"><b>Email</b></font></th>
						<th align="center"><font color="blue"><b>Role</b></font></th>
						<th align="center"><font color="blue"><b>Edit</b></font></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="u:${users}">
						<td style="color: #800000" th:text="${u.id}"></td>
						<td style="color: #800000" th:text="${u.username}"></td>
						<td style="color: black" th:text="${u.email}"></td>
						<td style="color: black" th:text="${u.role}==1 ? 'ADMIN' : 'USERS'"></td>
						<td><a th:href="@{'/admin/users/edit/'+${u.id}}"
							class="btn btn-warning" id="btnDetails">Edit</a></td>
					</tr>
				</tbody>

			</table>
			<button data-url="/admin/users/create" class="btn btn-success"
				id="btnAdd" type="button">Add User</button>
		</div>


		<br /><br /><br />
		<h2><font color="red"><b>Action Match</b></font></h2><br />
		<form th:action="@{/admin/match/}" th:object="${users}"
			method="post" class="form-horizontal">
			<div class="form-group">
				<th:block th:if="${lRound} > 0">
					<div class="col-sm-3">
						<select name="sltRound" id="sltRound" class="form-control">
							<option th:each="r : ${#numbers.sequence(1,lRound)}"
								th:value="${r}"
								th:text="'Round : '+${r}">None</option>
						</select>
					</div>
					<div class="col-sm-3">
						<button type="submit" class="btn btn-success" id="create">CREATE
							MATCH</button>
					</div>
				</th:block>
			</div>
		</form>

		<script style="">
			$(document).ready(function() {
				var strWindowFeatures = "location=yes,height=600,width=800,scrollbars=yes,status=yes";
				$('#btnAdd').click(function() {
							window.open($(this).attr("data-url"),"_blank",strWindowFeatures);
							return false;
						});
				$('#btnDetails').click(function() {
							window.open($(this).attr("href"),"_blank",strWindowFeatures);
							return false;
						});

				var origin = (location.origin) ? location.origin
						: window.location.protocol
								+ "//"
								+ window.location.hostname
								+ (window.location.port ? ':'+ window.location.port : '');
				$('form').submit(function() {
					var round = $("#sltRound").val();
					if(round == 1) round ="addBot";
					$.ajax({
						url : $('form').attr("action") + round,
						type : "post",
						data : $('form').serialize()
					}).done(function() {
						alert("Add match successful");
					}).fail(function(data) {
						switch (data.status) {
						default:
							alert("error");
						}
					});
					return false;
				});
			});
			function reloadFunction(isLoad) {
				if (isLoad) {
					location.reload();
				}
			}
		</script>
	</th:block>

</body>
</html>